{% extends 'home/base.html' %}

{% load static %}

{% block title %}
<title>Calculator - Find best AC based on heatload of your home/office</title>
{% endblock %}

{% block body %}

{% if messages %}
<section class="messages absolute w-[100%]" style="z-index: 5;">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
        role="alert">
        <strong>{{ message.tags|capfirst }} :</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            onclick="this.parentNode.remove(true)"></button>
    </div>
    {% endfor %}
</section>
{% endif %}

<div id="alert-area"
    class="relative m-0 w-[32%] max-[900px]:w-[50%] max-[700px]:w-[70%] max-[429px]:w-[96%] float-right"></div>
<section class="flex items-center justify-center min-h-screen mt-2">
    <div class="bg-white shadow-md rounded-lg py-8 min-[429px]:px-8 px-[10px] w-full min-[700px]:max-w-4xl m-0">
        <div class="uper max-[700px]:overflow-x-scroll">
            <div class="flex gap-4 mb-3 max-[700px]:pr-2">
                {% if rights.walls %}
                <button class="status-btn px-[10px] w-auto" id="form0btn" onclick="formula(this)">Walls</button>
                {% endif %}
                {% if rights.windows %}
                <button class="status-btn px-[10px] w-auto" id="form1btn" onclick="formula(this, 1)">Windows</button>
                {% endif %}
                {% if rights.roof %}
                <button class="status-btn px-[10px] w-auto" id="form2btn" onclick="formula(this, 2)">Roof</button>
                {% endif %}
                {% if rights.occupants %}
                <button class="status-btn px-[10px] w-auto" id="form3btn" onclick="formula(this, 3)">Occupants</button>
                {% endif %}
                {% if rights.equipments %}
                <button class="status-btn px-[10px] w-auto" id="form4btn" onclick="formula(this, 4)">Equipments</button>
                {% endif %}
                <button class="status-btn px-[10px] w-auto" id="form5btn" onclick="formula(this, 5)">Total</button>
            </div>
        </div>
        <div id="Calculator" class="bg-gray-100 py-6 min-[429px]:px-6 px-[10px] rounded-lg shadow-sm  w-100">

            <!-- Wall Inputs -->
            {% if rights.walls %}
            <div id="CHGWalls"
                class="bg-white py-8 min-[429px]:px-8 px-[20px] rounded shadow-md w-full max-w-md mx-auto mt-1 w-100">
                <h2 class="text-2xl font-bold mb-6 text-center max-[429px]:text-[22px]">Heat Gain Through Walls
                    Calculator</h2>

                <form id="heatGainForm-wall">
                    <div id="walls">
                        {% for count in walls_iter %}
                        <div class="wall-input mb-4">
                            <h4 class="font-semibold mb-2">Wall {{count}}</h4>
                            <!-- <div class="flex justify-between gap-3 max-[537px]:flex-col">
                                <div class="mb-1 flex-grow-1">
                                    <label for="d-wall-{{count}}"
                                        class="block text-sm font-medium text-gray-700">Thickness <span
                                            id="wall-{{count}}-unit-area" class="unit-area">(in <span
                                                id="window-unit-d">M</span>)</span></label>
                                    <input type="number" min="0" id="d-wall-{{count}}"
                                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                        step="0.001" onchange="check(this)">
                                    <span class="text-[red] text-xs font-bold" id="d-wall-{{count}}-error"></span>
                                </div>
                                <div id="wall-{{count}}-dim-field" class="flex gap-3 max-[429px]:flex-col">
                                    <div class="mb-1">
                                        <label for="height-wall-{{count}}"
                                            class="block text-sm font-medium text-gray-700">Height</label>
                                        <input type="number" min="0" id="height-wall-{{count}}"
                                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                            step="0.01" onchange="check(this)">
                                        <span class="text-[red] text-xs font-bold"
                                            id="height-wall-{{count}}-error"></span>

                                    </div>
                                    <div class="mb-1">
                                        <label for="width-wall-{{count}}"
                                            class="block text-sm font-medium text-gray-700">Width</label>
                                        <input type="number" min="0" id="width-wall-{{count}}"
                                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                            step="0.01" onchange="check(this)">
                                        <span class="text-[red] text-xs font-bold"
                                            id="width-wall-{{count}}-error"></span>

                                    </div>
                                </div>
                                <div class="mb-4 area-field" id="wall-{{count}}-area-field">
                                    <label for="area-wall-{{count}}"
                                        class="block text-sm font-medium text-gray-700">Area
                                        <span id="window-unit-a">M</span><sup>2</sup></label>
                                    <input type="number" min="0" id="area-wall-{{count}}"
                                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                        step="0.01" onchange="check(this)">
                                    <span class="text-[red] text-xs font-bold" id="area-wall-{{count}}-error"></span>

                                </div>
                            </div>
                            <span class="block mb-4 text-xs px-2" id="wall-{{count}}-unit-dim"><span
                                    class="font-bold text-[red]">*</span> All 3
                                dimensions are in <span id="window-unit-all">M</span></span>
                            <div class="flex justify-between min-[429px]:gap-3 max-[429px]:flex-col">
                                <div class="mb-4 flex-grow-1">
                                    <label for="temperature-wall-{{count}}"
                                        class="block text-sm font-medium text-gray-700">Temperature
                                        (°C)</label>
                                    <input type="number" min="20" id="temperature-wall-{{count}}"
                                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm min-w-[90%]"
                                        step="1" onchange="check(this)">
                                    <span class="text-[red] text-xs font-bold"
                                        id="temperature-wall-{{count}}-error"></span>

                                </div>
                                <div class="mb-4">
                                    <label for="wall-{{count}}-field-toggler"
                                        class="block text-sm font-medium text-gray-700">Toggle</label>
                                    <button type="button" id="wall-{{count}}-field-toggler"
                                        class="mt-1 block rounded-md shadow-sm  mb-2 border-[2px] border-[#9a98bc] sm:text-sm p-[7px] max-[429px]:text-[14px] min-[429px]:py-2 min-[429px]:px-2"
                                        onclick="toggleAreaField(this, 'wall-{{count}}')">Area</button>
                                </div>
                            </div> -->
                            <div class="flex flex-col justify-between">
                                <label for="wall-{{count}}-k" class="block text-sm font-medium text-gray-700">Build
                                    Material</label>
                                <div class="flex min-[537px]:gap-3 max-[537px]:flex-col mb-4">
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-k" id="wall-{{count}}-k-brick"
                                            value="brick" checked>
                                        <label for="wall-{{count}}-k-brick"
                                            class="block text-[13px] font-medium text-gray-600">Brick</label>
                                    </div>
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-k" id="wall-{{count}}-k-glass"
                                            value="glass">
                                        <label for="wall-{{count}}-k-glass"
                                            class="block text-[13px] font-medium text-gray-600">Glass</label>
                                    </div>
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-k" id="wall-{{count}}-k-plywood"
                                            value="plywood">
                                        <label for="wall-{{count}}-k-plywood"
                                            class="block text-[13px] font-medium text-gray-600">Plywood</label>
                                    </div>
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-k" id="wall-{{count}}-k-wooden"
                                            value="wooden">
                                        <label for="wall-{{count}}-k-wooden"
                                            class="block text-[13px] font-medium text-gray-600">Wooden</label>
                                    </div>
                                </div>
                                <!-- select unit of readings -->
                                <label for="wall-{{count}}-k" class="block text-sm font-medium text-gray-700">Measuring
                                    Unit</label>
                                <div class="flex min-[537px]:gap-3 max-[537px]:flex-col mb-4">
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-unit" onchange="changeUnit(this)"
                                            id="wall-{{count}}-unit-m" value="M" checked>
                                        <label for="wall-{{count}}-unit-m"
                                            class="block text-[13px] font-medium text-gray-600">M</label>
                                    </div>
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-unit" onchange="changeUnit(this)"
                                            id="wall-{{count}}-unit-cm" value="CM">
                                        <label for="wall-{{count}}-unit-cm"
                                            class="block text-[13px] font-medium text-gray-600">CM</label>
                                    </div>
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-unit" onchange="changeUnit(this)"
                                            id="wall-{{count}}-unit-feet" value="Feet">
                                        <label for="wall-{{count}}-unit-feet"
                                            class="block text-[13px] font-medium text-gray-600">Feet</label>
                                    </div>
                                    <div class="mt-2 flex gap-1 items-center">
                                        <input type="radio" name="wall-{{count}}-unit" onchange="changeUnit(this)"
                                            id="wall-{{count}}-unit-inch" value="Inch">
                                        <label for="wall-{{count}}-unit-inch"
                                            class="block text-[13px] font-medium text-gray-600">Inch</label>
                                    </div>
                                </div>

                                <div class="flex justify-between gap-3 max-[537px]:flex-col">
                                    <div class="mb-1 flex-grow-1">
                                        <label for="d-wall-{{count}}"
                                            class="block text-sm font-medium text-gray-700">Thickness <span
                                                id="wall-{{count}}-unit-area" class="unit-area">(in <span
                                                    id="wall-{{count}}-unit-d">M</span>)</span></label>
                                        <input type="number" min="0" id="d-wall-{{count}}"
                                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                            step="0.001" onchange="check(this)">
                                        <span class="text-[red] text-xs font-bold" id="d-wall-{{count}}-error"></span>
                                    </div>
                                    <div id="wall-{{count}}-dim-field" class="flex gap-3 max-[429px]:flex-col">
                                        <div class="mb-1">
                                            <label for="height-wall-{{count}}"
                                                class="block text-sm font-medium text-gray-700">Height</label>
                                            <input type="number" min="0" id="height-wall-{{count}}"
                                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                                step="0.01" onchange="check(this)">
                                            <span class="text-[red] text-xs font-bold"
                                                id="height-wall-{{count}}-error"></span>

                                        </div>
                                        <div class="mb-1">
                                            <label for="width-wall-{{count}}"
                                                class="block text-sm font-medium text-gray-700">Width</label>
                                            <input type="number" min="0" id="width-wall-{{count}}"
                                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                                step="0.01" onchange="check(this)">
                                            <span class="text-[red] text-xs font-bold"
                                                id="width-wall-{{count}}-error"></span>

                                        </div>
                                    </div>
                                    <div class="mb-4 area-field" id="wall-{{count}}-area-field">
                                        <label for="area-wall-{{count}}"
                                            class="block text-sm font-medium text-gray-700">Area
                                            <span id="wall-{{count}}-unit-a">M</span><sup>2</sup></label>
                                        <input type="number" min="0" id="area-wall-{{count}}"
                                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                            step="0.01" onchange="check(this)">
                                        <span class="text-[red] text-xs font-bold"
                                            id="area-wall-{{count}}-error"></span>

                                    </div>
                                </div>
                                <span class="block mb-4 text-xs px-2" id="wall-{{count}}-unit-dim"><span
                                        class="font-bold text-[red]">*</span> All 3
                                    dimensions are in <span id="wall-{{count}}-unit-all">M</span></span>
                                <div class="flex justify-between min-[429px]:gap-3 max-[429px]:flex-col">
                                    <div class="mb-4 flex-grow-1">
                                        <label for="temperature-wall-{{count}}"
                                            class="block text-sm font-medium text-gray-700">Temperature
                                            (°C)</label>
                                        <input type="number" min="20" id="temperature-wall-{{count}}"
                                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm min-w-[90%]"
                                            step="1" onchange="check(this)">
                                        <span class="text-[red] text-xs font-bold"
                                            id="temperature-wall-{{count}}-error"></span>

                                    </div>
                                    <div class="mb-4">
                                        <label for="wall-{{count}}-field-toggler"
                                            class="block text-sm font-medium text-gray-700">Toggle</label>
                                        <button type="button" id="wall-{{count}}-field-toggler"
                                            class="mt-1 block rounded-md shadow-sm  mb-2 border-[2px] border-[#9a98bc] sm:text-sm p-[7px] max-[429px]:text-[14px] min-[429px]:py-2 min-[429px]:px-2"
                                            onclick="toggleAreaField(this, 'wall-{{count}}')">Area</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="CHGWalls()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-wall" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
            {% endif %}

            <!-- CHGWindow -->
            {% if rights.windows %}
            <div id="CHGWindow"
                class="bg-white py-8 min-[429px]:px-8 px-[20px] rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center max-[429px]:text-[22px]">Heat Gain Through Windows
                    Calculator</h2>
                <form id="heatGainForm-window">
                    <div class="flex flex-col justify-between">
                        <label for="window-k" class="block text-sm font-medium text-gray-700">Build Material</label>
                        <div class="flex min-[537px]:gap-3 max-[537px]:flex-col mb-4">
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-k" id="window-k-glass" value="glass" checked>
                                <label for="window-k-glass"
                                    class="block text-[13px] font-medium text-gray-600">Glass</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-k" id="window-k-plywood" value="plywood">
                                <label for="window-k-plywood"
                                    class="block text-[13px] font-medium text-gray-600">Plywood</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-k" id="window-k-wooden" value="wooden">
                                <label for="window-k-wooden"
                                    class="block text-[13px] font-medium text-gray-600">Wooden</label>
                            </div>
                        </div>
                        <!-- select unit of readings -->
                        <label for="window-k" class="block text-sm font-medium text-gray-700">Measuring Unit</label>
                        <div class="flex min-[537px]:gap-3 max-[537px]:flex-col mb-4">
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-unit" onchange="changeUnit(this)" id="window-unit-m"
                                    value="M" checked>
                                <label for="window-unit-m" class="block text-[13px] font-medium text-gray-600">M</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-unit" onchange="changeUnit(this)" id="window-unit-cm"
                                    value="CM">
                                <label for="window-unit-cm"
                                    class="block text-[13px] font-medium text-gray-600">CM</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-unit" onchange="changeUnit(this)" id="window-unit-feet"
                                    value="Feet">
                                <label for="window-unit-feet"
                                    class="block text-[13px] font-medium text-gray-600">Feet</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="window-unit" onchange="changeUnit(this)" id="window-unit-inch"
                                    value="Inch">
                                <label for="window-unit-inch"
                                    class="block text-[13px] font-medium text-gray-600">Inch</label>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between gap-3 max-[537px]:flex-col">
                        <div class="mb-1 flex-grow-1">
                            <label for="d-window" class="block text-sm font-medium text-gray-700">Thickness <span
                                    id="window-unit-area" class="unit-area">(in <span
                                        id="window-unit-d">M</span>)</span></label>
                            <input type="number" min="0" id="d-window"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                step="0.001" onchange="check(this)">
                            <span class="text-[red] text-xs font-bold" id="d-window-error"></span>
                        </div>
                        <div id="window-dim-field" class="flex gap-3 max-[429px]:flex-col">
                            <div class="mb-1">
                                <label for="height-window"
                                    class="block text-sm font-medium text-gray-700">Height</label>
                                <input type="number" min="0" id="height-window"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                    step="0.01" onchange="check(this)">
                                <span class="text-[red] text-xs font-bold" id="height-window-error"></span>

                            </div>
                            <div class="mb-1">
                                <label for="width-window" class="block text-sm font-medium text-gray-700">Width</label>
                                <input type="number" min="0" id="width-window"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                    step="0.01" onchange="check(this)">
                                <span class="text-[red] text-xs font-bold" id="width-window-error"></span>

                            </div>
                        </div>
                        <div class="mb-4 area-field" id="window-area-field">
                            <label for="area-window" class="block text-sm font-medium text-gray-700">Area
                                <span id="window-unit-a">M</span><sup>2</sup></label>
                            <input type="number" min="0" id="area-window"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                step="0.01" onchange="check(this)">
                            <span class="text-[red] text-xs font-bold" id="area-window-error"></span>

                        </div>
                    </div>
                    <span class="block mb-4 text-xs px-2" id="window-unit-dim"><span
                            class="font-bold text-[red]">*</span> All 3
                        dimensions are in <span id="window-unit-all">M</span></span>
                    <div class="flex justify-between min-[429px]:gap-3 max-[429px]:flex-col">
                        <div class="mb-4 flex-grow-1">
                            <label for="temperature-window" class="block text-sm font-medium text-gray-700">Temperature
                                (°C)</label>
                            <input type="number" min="20" id="temperature-window"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm min-w-[90%]"
                                step="1" onchange="check(this)">
                            <span class="text-[red] text-xs font-bold" id="temperature-window-error"></span>

                        </div>
                        <div class="mb-4">
                            <label for="window-field-toggler"
                                class="block text-sm font-medium text-gray-700">Toggle</label>
                            <button type="button" id="window-field-toggler"
                                class="mt-1 block rounded-md shadow-sm mb-2 border-[2px] border-[#9a98bc] sm:text-sm p-[7px] max-[429px]:text-[14px] min-[429px]:py-2 min-[429px]:px-2"
                                onclick="toggleAreaField(this, 'window')">Area</button>
                        </div>
                    </div>

                    <button type="button" onclick="CHGWindows()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-window" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
            {% endif %}

            <!-- CHGRoof -->
            {% if rights.roof %}
            <div id="CHGRoof"
                class="bg-white py-8 min-[429px]:px-8 px-[20px] rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center max-[429px]:text-[22px]">Heat Gain Through Roof
                    Calculator</h2>
                <form id="heatGainForm-roof">
                    <div class="flex flex-col justify-between">
                        <!-- select unit of readings -->
                        <label for="roof-k" class="block text-sm font-medium text-gray-700">Measuring Unit</label>
                        <div class="flex min-[537px]:gap-3 max-[537px]:flex-col mb-4">
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="roof-unit" onchange="changeUnit(this)" id="roof-unit-m"
                                    value="M" checked>
                                <label for="roof-unit-m" class="block text-[13px] font-medium text-gray-600">M</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="roof-unit" onchange="changeUnit(this)" id="roof-unit-cm"
                                    value="CM">
                                <label for="roof-unit-cm" class="block text-[13px] font-medium text-gray-600">CM</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="roof-unit" onchange="changeUnit(this)" id="roof-unit-feet"
                                    value="Feet">
                                <label for="roof-unit-feet"
                                    class="block text-[13px] font-medium text-gray-600">Feet</label>
                            </div>
                            <div class="mt-2 flex gap-1 items-center">
                                <input type="radio" name="roof-unit" onchange="changeUnit(this)" id="roof-unit-inch"
                                    value="Inch">
                                <label for="roof-unit-inch"
                                    class="block text-[13px] font-medium text-gray-600">Inch</label>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between gap-3 max-[537px]:flex-col">
                        <div class="mb-1 flex-grow-1">
                            <label for="d-roof" class="block text-sm font-medium text-gray-700">Thickness <span
                                    id="roof-unit-area" class="unit-area">(in <span
                                        id="roof-unit-d">M</span>)</span></label>
                            <input type="number" min="0" id="d-roof"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                step="0.001" onchange="check(this)">
                            <span class="text-[red] text-xs font-bold" id="d-roof-error"></span>
                        </div>
                        <div id="roof-dim-field" class="flex gap-3 max-[429px]:flex-col">
                            <div class="mb-1">
                                <label for="length-roof" class="block text-sm font-medium text-gray-700">Length</label>
                                <input type="number" min="0" id="length-roof"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                    step="0.01" onchange="check(this)">
                                <span class="text-[red] text-xs font-bold" id="length-roof-error"></span>

                            </div>
                            <div class="mb-1">
                                <label for="breadth-roof"
                                    class="block text-sm font-medium text-gray-700">Breadth</label>
                                <input type="number" min="0" id="breadth-roof"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                    step="0.01" onchange="check(this)">
                                <span class="text-[red] text-xs font-bold" id="breadth-roof-error"></span>

                            </div>
                        </div>
                        <div class="mb-4 area-field" id="roof-area-field">
                            <label for="area-roof" class="block text-sm font-medium text-gray-700">Area
                                <span id="roof-unit-a">M</span><sup>2</sup></label>
                            <input type="number" min="0" id="area-roof"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm"
                                step="0.01" onchange="check(this)">
                            <span class="text-[red] text-xs font-bold" id="area-roof-error"></span>

                        </div>
                    </div>
                    <span class="block mb-4 text-xs px-2" id="roof-unit-dim"><span class="font-bold text-[red]">*</span>
                        All 3
                        dimensions are in <span id="roof-unit-all">M</span></span>
                    <div class="flex justify-between min-[429px]:gap-3 max-[429px]:flex-col">
                        <div class="mb-4 flex-grow-1">
                            <label for="temperature-roof" class="block text-sm font-medium text-gray-700">Temperature
                                (°C)</label>
                            <input type="number" min="20" id="temperature-roof"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 mb-2 focus:outline-[#9a98bc] sm:text-sm min-w-[90%]"
                                step="1" onchange="check(this)">
                            <span class="text-[red] text-xs font-bold" id="temperature-roof-error"></span>

                        </div>
                        <div class="mb-4">
                            <label for="roof-field-toggler"
                                class="block text-sm font-medium text-gray-700">Toggle</label>
                            <button type="button" id="roof-field-toggler"
                                class="mt-1 block rounded-md shadow-sm mb-2 border-[2px] border-[#9a98bc] sm:text-sm p-[7px] max-[429px]:text-[14px] min-[429px]:py-2 min-[429px]:px-2"
                                onclick="toggleAreaField(this, 'roof')">Area</button>
                        </div>
                    </div>
                    <button type="button" onclick="CHGRoof()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-roof" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
            {% endif %}

            <!-- CHGOccupmants -->
            {% if rights.occupants %}
            <div id="CHGOccupants"
                class="bg-white py-8 min-[429px]:px-8 px-[20px] rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center max-[429px]:text-[22px]">Heat Gain from Occupants
                    Calculator</h2>
                <form id="heatGainForm-occupant">
                    <div class="mb-4">
                        <label for="occupants" class="block text-sm font-medium text-gray-700">Number of
                            Occupants</label>
                        <input type="number" min="0" onchange="check(this)" id="occupants"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                            step="1" value="0">
                        <span class="text-[red] text-xs font-bold" id="occupants-error"></span>
                    </div>
                    <button type="button" onclick="CHGOccupants()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-occupant" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
            {% endif %}

            <!-- CHGEquipments -->
            {% if rights.equipments %}
            <div id="CHGEquipments"
                class="bg-white py-8 min-[429px]:px-8 px-[20px] rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center max-[429px]:text-[22px]">Heat Gain Through Roof
                    Calculator</h2>
                <form id="heatGainForm-equipment">
                    <div class="mb-4">
                        <label for="computer-equipment" class="block text-sm font-medium text-gray-700">Number of
                            Computers
                        </label>
                        <input type="number" min="0" onchange="check(this)" id="computer-equipment"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                            step="1">
                        <span class="text-[red] text-xs font-bold" id="computer-equipment-error"></span>
                    </div>
                    <div class="mb-4">
                        <label for="fan-equipment" class="block text-sm font-medium text-gray-700">Number of
                            Fans</label>
                        <input type="number" min="0" onchange="check(this)" id="fan-equipment"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                            step="1">
                        <span class="text-[red] text-xs font-bold" id="fan-equipment-error"></span>
                    </div>
                    <div class="mb-4">
                        <label for="ledtubelight-equipment" class="block text-sm font-medium text-gray-700">Number of
                            LED Tube Lights
                        </label>
                        <input type="number" min="0" onchange="check(this)" id="ledtubelight-equipment"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                            step="1">
                        <span class="text-[red] text-xs font-bold" id="ledtubelight-equipment-error"></span>
                    </div>
                    <button type="button" onclick="CHGEquipments()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-equipment" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
            {% endif %}

            <!-- CHGTotal -->
            <div id="CHGTotal"
                class="bg-white py-8 min-[429px]:px-8 px-[20px] rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center max-[429px]:text-[22px]">Total Heat Gain Calculator</h2>
                <form id="heatGainForm">
                    <div class="flex justify-between min-[400px]:gap-4 max-[400px]:flex-col mb-4">
                        <div class="mb-4">
                            <label for="walls-total" class="block text-sm font-medium text-gray-700">Q
                                <sub>Walls</sub></label>
                            <input type="text" id="walls-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                        <div class="mb-4">
                            <label for="window-total" class="block text-sm font-medium text-gray-700">Q
                                <sub>Window</sub></label>
                            <input type="text" id="window-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                    </div>
                    <div class="flex justify-between min-[400px]:gap-4 max-[400px]:flex-col mb-4">
                        <div class="mb-4">
                            <label for="roof-total" class="block text-sm font-medium text-gray-700">Q
                                <sub>Roof</sub></label>
                            <input type="text" id="roof-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                        <div class="mb-4">
                            <label for="occupants-total" class="block text-sm font-medium text-gray-700">Q
                                <sub>Occupants</sub></label>
                            <input type="text" id="occupants-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                    </div>
                    <div class="flex justify-between min-[550px]:gap-3 min-[400px]:gap-2 max-[400px]:flex-col mb-4">
                        <div class="mb-4">
                            <label for="computers-total" class="block text-sm font-medium text-gray-700">Q
                                <sub>Computers</sub> </label>
                            <input type="text" id="computers-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                        <div class="mb-4">
                            <label for="lights-total" class="block text-sm font-medium text-gray-700">
                                Q <sub>Lights</sub></label>
                            <input type="text" id="lights-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                        <div class="mb-4">
                            <label for="fans-total" class="block text-sm font-medium text-gray-700">Q
                                <sub>Fans</sub></label>
                            <input type="text" id="fans-total"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 pl-3 pr-2 focus:outline-[#9a98bc] sm:text-sm"
                                readonly>
                        </div>
                    </div>
                    <button type="button" onclick="CHGTotal()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate Total
                        Heat
                        Gain</button>
                </form>
                <div id="result" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
        </div>
    </div>
    <a href="https://www.flaticon.com/free-icons/arrows" title="arrows icons"></a>

    <script>
        // const allowed

        let rights = `{{rights.walls}},{{rights.windows}},{{rights.roof}},{{rights.occupants}},{{rights.equipments}},True`
        rights = rights.split(',')
        // console.log(rights)
        const forms = ['CHGWalls', 'CHGWindow', 'CHGRoof', 'CHGOccupants', 'CHGEquipments', 'CHGTotal']
        const forms_obj = {}
        const forms_allowed = forms.filter((id, i) => {
            if (rights[i] === 'True') forms_obj[i] = id;
        })
        // console.log(forms_allowed, forms_obj)

        function formula(button, x = 0) {
            if (rights[x] === 'True') {
                for (const i of Object.keys(forms_obj)) {
                    document.querySelector(`#${forms[i]}`).style.display = 'none';
                    changeBtnStatus(i);
                }
                document.querySelector(`#${forms_obj[x]}`).style.display = 'block';
                changeBtnStatus(x, 'active');
                if (x === 5) {
                    CHGTotal()
                }
            }
        }
        formula(Object.keys(forms_obj)[0]);

        function check(e) {
            value = parseFloat(e.value);
            min = parseFloat(e.min);
            if (!value) {
                e.style.outline = '2px solid red';
                document.getElementById(`${e.id}-error`).innerHTML = "can't be empty";
            }
            else if (value < min) {
                e.style.outline = '2px solid red';
                document.getElementById(`${e.id}-error`).innerHTML = "should be bigger or equal to " + e.min;
            }
            else if (e.max && value > parseFloat(e.max)) {
                e.style.outline = '2px solid red';
                document.getElementById(`${e.id}-error`).innerHTML = "should be lesser than " + e.max;
            }
            else {
                e.style.outline = 'none';
                document.getElementById(`${e.id}-error`).innerHTML = "";
                return false;
            }
            return true;
        }

        function validateForm(param) {
            let all_filled = 0;
            document.querySelectorAll(`#heatGainForm-${param} input[type="number"]`).forEach((elem) => all_filled += check(elem));
            return all_filled;
        }

        function validateTogglerForm(param) {
            let all_filled = 0;
            document.querySelectorAll(`#heatGainForm-${param} .flex-grow-1 input[type="number"]`).forEach((elem) => all_filled += check(elem));

            const area = document.getElementById(`${param}-area-field`);
            if (area.style.display === 'block') {

                document.querySelectorAll(`#${param}-area-field input[type="number"]`).forEach((elem) => all_filled += check(elem));
            }
            else {
                document.querySelectorAll(`#${param}-dim-field input[type="number"]`).forEach((elem) => all_filled += check(elem));
            }
            return all_filled;
        }

        function validateWallForm(param = 'wall') {
            let all_filled = 0;
            document.querySelectorAll(`#heatGainForm-${param} .flex-grow-1 input[type="number"]`).forEach((elem) => all_filled += check(elem));
            console.log(all_filled)
            for (let i = 1; i < 5; i++) {
                const area = document.getElementById(`${param}-${i}-area-field`);
                if (area.style.display === 'block') {

                    document.querySelectorAll(`#${param}-${i}-area-field input[type="number"]`).forEach((elem) => all_filled += check(elem));
                }
                else {
                    document.querySelectorAll(`#${param}-${i}-dim-field input[type="number"]`).forEach((elem) => all_filled += check(elem));
                }
                console.log(all_filled)

            }

            return all_filled;
        }
        
        function getUnit(param) {
            let units = {
                Inch: 0.0254,
                Feet: 0.3048,
                CM: 0.01,
                M: 1,
            }
            try {
                const unit = document.querySelector(`input[name='${param}-unit']:checked`).value;
                return units[unit];
            } catch (error) {
                return units.M;
            }

        }

        function changeUnit(unit) {
            document.getElementById(`${unit.name}-all`).innerHTML = unit.value;
            document.getElementById(`${unit.name}-a`).innerHTML = unit.value;
            document.getElementById(`${unit.name}-d`).innerHTML = unit.value;
        }
        function getTogglerFields(param, roof = false) {
            let fields = {};
            const area = document.getElementById(`${param}-area-field`);
            const unit = getUnit(param);
            fields.thickness = parseFloat(
                document.getElementById(`d-${param}`).value
            ) * unit;
            if (area.style.display === 'block') {
                fields.area = parseFloat(document.getElementById(`area-${param}`).value) * unit;
            }
            else if (!roof) {
                fields.height = parseFloat(document.getElementById(`height-${param}`).value) * unit;
                fields.width = parseFloat(document.getElementById(`width-${param}`).value) * unit;
            }
            else {
                fields.length = parseFloat(document.getElementById(`length-${param}`).value) * unit;
                fields.breadth = parseFloat(document.getElementById(`breadth-${param}`).value) * unit;
            }
            return fields
        }


        function changeBtnStatus(i = 0, status = 'any') {
            button = document.querySelector(`#form${i}btn`)
            button.classList.remove("active-status-btn");

            switch (status) {
                case "success":
                    button.classList.remove("error-status-btn");
                    button.classList.add("success-status-btn");
                    break;
                case "error":
                    button.classList.remove("success-status-btn");
                    button.classList.add("error-status-btn");
                    break;
                case "active":
                    button.classList.add("active-status-btn");
                    break;
                default:
                    break;
            }
        }

        function toggleAreaField(btn, id) {
            const area = document.getElementById(`${id}-area-field`);
            const dim = document.getElementById(`${id}-dim-field`);
            const unitofDims = document.getElementById(`${id}-unit-dim`);
            const unitofArea = document.getElementById(`${id}-unit-area`);
            if (area.style.display === 'block') {
                area.style.display = 'none';
                dim.style.display = 'flex';
                btn.innerHTML = 'Area';
                unitofDims.style.display = 'block';
                unitofArea.style.display = 'none';
            }

            else {
                area.style.display = 'block';
                dim.style.display = 'none';
                btn.innerHTML = 'Dimension';
                unitofDims.style.display = 'none';
                unitofArea.style.display = 'inline';
            }
        }

    </script>
</section>

{% endblock %}