{% extends 'home/base.html' %}


{% block head %}
<title>About CHG</title>
{% endblock %}


{% block body %}

<div class="container">
    <h1>About CHG</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, eos quasi dolores voluptas at cumque eaque ducimus, facilis est ipsum eum illum rem enim ea corrupti, vero fugit earum? Voluptatibus ipsam perspiciatis ipsa excepturi ipsum explicabo, doloremque enim labore nulla aliquid quam et iure corrupti praesentium aperiam? Aperiam dicta doloribus omnis beatae soluta harum suscipit ullam, explicabo, unde asperiores perferendis, voluptates deleniti necessitatibus itaque quaerat eligendi ducimus aut quasi molestias temporibus recusandae sequi atque quibusdam. Libero fugit eius, consequuntur nihil ullam ea labore facilis maxime incidunt repellendus aut. Voluptas amet architecto laboriosam pariatur soluta, debitis incidunt explicabo consequatur vel sunt?</p>
</div>
{% endblock %}

