{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">

    {% block link %}{% endblock %}

    {% block head %}{% endblock %}

    {% block style %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-success bg-white text-dark sticky top-0 m-0 w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CHG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                    {% if not request.user.is_restricted %}
                    <li class="nav-item">
                        <a class="nav-link text-black" aria-current="page" href="/calculator">Calculator</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex gap-2">
                    {% if not request.user.isauthenticated %}
                    <button class="btn btn-outline-success">Login</button>
                    <button class="btn btn-outline-success">Signup</button>
                    {% else %}
                    <button class="btn btn-outline-success">profile</button>
                    <button class="btn btn-outline-success">Logout</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>

    {% block header %}
    {% endblock %}

    <section id="body-holder">
        {% block body %}{% endblock %}
    </section>
    {% block footer %}
    <footer style="background-color: white; color: grey; font-size: 14px; padding: 10px 0px; margin-top: 10px;">
        <p style="text-align: center;">&copy; 2024 CHG. All rights reserved</p>
    </footer>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/index.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>