{% extends 'home/base.html' %}

{% load static %}

{% block head %}
<title>Dashboard of CHG</title>
{% endblock %}


{% block body %}

{% if messages %}
<section class="messages absolute w-[100%]" style="z-index: 5;">
    {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
        role="alert">
        <strong>{{ message.tags|capfirst }} :</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
    </div>
    {% endfor %}
</section>
{% endif %}


<div id="carouselExampleIndicators" class="carousel slide bg-[#ededed] flex justify-center" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner md:w-[75%] my-3 h-[570px]  border-[4px] border-white">
    <div class="carousel-item active">
      <img src="{% static 'home/image/heating-and-cooling.webp' %}" class="block w-100 h-100 object-fill" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/image/Best-AC.jpg' %}" class="block w-100 h-100 object-fill" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/image/ac-hall.jpg' %}" class="block w-100 h-100 object-fill" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon invert" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next border-2" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon invert" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}