{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Home - CHG</title>
{% endblock %}

{% block body %}
<section class="flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-3xl">
        <div class="uper">
            <!-- <div id="profile" class="bg-gray-100 p-6 rounded-lg shadow-sm">
                <h3 class="text-lg font-semibold mb-2">Profile</h3>
                <div id="info">
                    <p class="text-gray-700">Name:</p>
                    <p class="text-gray-700">Email:</p>
                </div>
            </div> -->
            <div>
                <button class="button" id="form0btn" onclick="formula()">CHGW</button>
                <button class="button" id="form1btn" onclick="formula(1)">CHGW</button>
                <button class="button" id="form2btn" onclick="formula(2)">CHGR</button>
                <button class="button" id="form3btn" onclick="formula(3)">CHGO</button>
                <button class="button" id="form4btn" onclick="formula(4)">CHGE</button>
                <button class="button" id="form5btn" onclick="formula(5)">CHGT</button>
            </div>

            <!-- <div id="logout" class="flex justify-between items-center mb-6">
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
                    onclick="logout()">Logout</button>
            </div> -->
        </div>
        <div id="Calculator" class="bg-gray-100 p-6 rounded-lg shadow-sm">

            <!-- Wall Inputs -->
            <div id="CHGWalls" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto mt-10">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Walls Calculator</h2>
                <form id="heatGainForm-wall">
                    <div id="walls">
                        {% for count in walls %}
                        <div class="wall-input mb-4">
                            <h4 class="font-semibold mb-2">Wall {{count}}</h4>
                            <div class="mb-4">
                                <label for="k-wall-{{count}}" class="block text-sm font-medium text-gray-700">Thermal
                                    Conductivity
                                    (k)</label>
                                <input type="number" id="k-wall-{{count}}"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                    value="0.5" step="0.01">
                            </div>
                            <div class="mb-4">
                                <label for="d-wall-{{count}}" class="block text-sm font-medium text-gray-700">Thickness
                                    (d) (* meter)</label>
                                <input type="number" id="d-wall-{{count}}"
                                    class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                    value="0.127" step="0.001">
                            </div>
                            <label for="height-wall-{{count}}" class="block text-sm font-medium text-gray-700">Height
                                (*
                                meter)</label>
                            <input type="number" id="height-wall-{{count}}"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 mb-2 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                step="0.01">

                            <label for="width-wall-{{count}}" class="block text-sm font-medium text-gray-700">Width (*
                                meter)</label>
                            <input type="number" id="width-wall-{{count}}"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 mb-2 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                step="0.01">

                            <label for="temperature-wall-{{count}}"
                                class="block text-sm font-medium text-gray-700">Temperature
                                (°C)</label>
                            <input type="number" id="temperature-wall-{{count}}"
                                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 mb-2 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                step="1">
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="CHGWalls()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-wall" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGWindow -->
            <div id="CHGWindow" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Windows Calculator</h2>
                <form id="heatGainForm-window">
                    <div class="mb-4">
                        <label for="k-window" class="block text-sm font-medium text-gray-700">Thermal Conductivity
                            (k)</label>
                        <input type="number" id="k-window"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.15" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="d-window" class="block text-sm font-medium text-gray-700">Thickness (d) (*
                            meter)</label>
                        <input type="number" id="d-window"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.004" step="0.001">
                    </div>
                    <div class="mb-4">
                        <label for="area-window" class="block text-sm font-medium text-gray-700">Area (* sq.
                            meter)</label>
                        <input type="number" id="area-window"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="0.001">
                    </div>
                    <div class="mb-4">
                        <label for="temperature-window" class="block text-sm font-medium text-gray-700">Temperature
                            (°C)</label>
                        <input type="number" id="temperature-window"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="1">
                    </div>
                    <button type="button" onclick="CHGWindows()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-window" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGRoof -->
            <div id="CHGRoof" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Roof Calculator</h2>
                <form id="heatGainForm-roof">
                    <div class="mb-4">
                        <label for="k-roof" class="block text-sm font-medium text-gray-700">Thermal Conductivity
                            (k)</label>
                        <input type="number" id="k-roof"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.5" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="d-roof" class="block text-sm font-medium text-gray-700">Thickness (d) (*
                            meter)</label>
                        <input type="number" id="d-roof"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.127" step="0.001">
                    </div>
                    <div class="mb-4">
                        <label for="area-roof" class="block text-sm font-medium text-gray-700">Area (* sq. meter)
                        </label>
                        <input type="number" id="area-roof"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="0.1">
                    </div>
                    <div class="mb-4">
                        <label for="temperature-roof" class="block text-sm font-medium text-gray-700">Temperature
                            (°C)</label>
                        <input type="number" id="temperature-roof"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="1">
                    </div>
                    <button type="button" onclick="CHGRoofs()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-roof" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGOccupmants -->
            <div id="CHGOccupants" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain from Occupants Calculator</h2>
                <form id="heatGainForm">
                    <div class="mb-4">
                        <label for="occupants" class="block text-sm font-medium text-gray-700">Number of
                            Occupants</label>
                        <input type="number" id="occupants"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="1">
                    </div>
                    <button type="button" onclick="CHGOccupants()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-occupant" class="mt-6 text-center text-lg font-semibold"></div>
            </div>


            <!-- CHGEquipments -->
            <div id="CHGEquipments" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Roof Calculator</h2>
                <form id="heatGainForm-equipement">
                    <div class="mb-4">
                        <label for="computer-equipment" class="block text-sm font-medium text-gray-700">Number of
                            Computers
                        </label>
                        <input type="number" id="computer-equipment"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="1">
                    </div>
                    <div class="mb-4">
                        <label for="fan-equipment" class="block text-sm font-medium text-gray-700">Number of
                            Fans</label>
                        <input type="number" id="fan-equipment"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="1">
                    </div>
                    <div class="mb-4">
                        <label for="ledtubelight-equipment" class="block text-sm font-medium text-gray-700">Number of
                            LED Tube Lights
                        </label>
                        <input type="number" id="ledtubelight-equipment"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            step="1">
                    </div>
                    <button type="button" onclick="CHGEquipments()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result-equipment" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGTotal -->
            <div id="CHGTotal" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto">
                <h2 class="text-2xl font-bold mb-6 text-center">Total Heat Gain Calculator</h2>
                <form id="heatGainForm">
                    <div class="mb-4">
                        <label for="walls-total" class="block text-sm font-medium text-gray-700">Heat Gain Through Walls
                            (Qwalls)</label>
                        <input type="text" id="walls-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="window-total" class="block text-sm font-medium text-gray-700">Heat Gain Through
                            Window
                            (Qwindow)</label>
                        <input type="text" id="window-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="roof-total" class="block text-sm font-medium text-gray-700">Heat Gain Through Roof
                            (Qroof)</label>
                        <input type="text" id="roof-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="occupants-total" class="block text-sm font-medium text-gray-700">Heat Gain from
                            Occupants
                            (Qoccupants)</label>
                        <input type="text" id="occupants-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="computers-total" class="block text-sm font-medium text-gray-700">Heat Gain from
                            Computers
                            (Qcomputers)</label>
                        <input type="text" id="computers-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="lights-total" class="block text-sm font-medium text-gray-700">Heat Gain from LED
                            Tube
                            Lights
                            (Qlights)</label>
                        <input type="text" id="lights-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <div class="mb-4">
                        <label for="fans-total" class="block text-sm font-medium text-gray-700">Heat Gain from Fans
                            (Qfans)</label>
                        <input type="text" id="fans-total"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    </div>
                    <button type="button" onclick="CHGTotal()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate Total
                        Heat
                        Gain</button>
                </form>
                <div id="result" class="mt-6 text-center text-lg font-semibold"></div>
            </div>
        </div>
    </div>
    <a href="https://www.flaticon.com/free-icons/arrows" title="arrows icons"></a>

    <script>

        function logout() {
            window.location.pathname = '/logout';
        }


        const forms = ['CHGWalls', 'CHGWindow', 'CHGRoof', 'CHGOccupants', 'CHGEquipments', 'CHGTotal']
        function formula(x = 0) {
            console.log(x)
            for (const i of forms) {
                document.querySelector(`#${i}`).style.display = 'none';
            }
            document.querySelector(`#${forms[x]}`).style.display = 'block';
            if(x===5){
                CHGTotal()
            }
        }
        formula();
    </script>
</section>

{% endblock %}