<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <style>
        body {
            background: linear-gradient(90deg, #c0c0ff, #d3d3ff);
        }
    </style>

</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-3xl">
        <div class="uper">
            <!-- <div id="profile" class="bg-gray-100 p-6 rounded-lg shadow-sm">
                <h3 class="text-lg font-semibold mb-2">Profile</h3>
                <div id="info">
                    <p class="text-gray-700">Name:</p>
                    <p class="text-gray-700">Email:</p>
                </div>
            </div> -->
            <div>
                <button class="button" id="form1btn" onclick="formula1()">CHGW</button>
                <button class="button" id="form2btn" onclick="formula2()">CHGW</button>
                <button class="button" id="form3btn" onclick="formula3()">CHGR</button>
                <button class="button" id="form4btn" onclick="formula4()">CHGO</button>
                <button class="button" id="form5btn" onclick="formula5()">CHGE</button>
            </div>

            <div id="logout" class="flex justify-between items-center mb-6">
                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
                    onclick="logout()">Logout</button>
            </div>
        </div>
        <div id="Calculator" class="bg-gray-100 p-6 rounded-lg shadow-sm">

            <!-- Wall Inputs -->
            <div id="CHGWalls" class="bg-white p-8 rounded shadow-md w-full max-w-md mx-auto mt-10">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Walls Calculator</h2>
                <iframe id="formula1frame" src="for1.html" frameborder="0"></iframe>
            </div>

            <!-- CHGWindow -->
            <div id="CHGWindow" class="bg-white p-8 rounded shadow-md w-full max-w-md">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Windows Calculator</h2>
                <form id="heatGainForm">
                    <div class="mb-4">
                        <label for="k" class="block text-sm font-medium text-gray-700">Thermal Conductivity (k)</label>
                        <input type="number" id="k"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="1.5" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="d" class="block text-sm font-medium text-gray-700">Thickness (d)</label>
                        <input type="number" id="d"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.004" step="0.001">
                    </div>
                    <div class="mb-4">
                        <label for="area" class="block text-sm font-medium text-gray-700">Area (A)</label>
                        <input type="number" id="area"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="3.902" step="0.001">
                    </div>
                    <div class="mb-4">
                        <label for="tempDiff" class="block text-sm font-medium text-gray-700">Temperature Difference
                            (ΔT)</label>
                        <input type="number" id="tempDiff"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="10" step="1">
                    </div>
                    <button type="button" onclick="CHGWindows()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGRoof -->
            <div id="CHGRoof" class="bg-white p-8 rounded shadow-md w-full max-w-md">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain Through Roof Calculator</h2>
                <form id="heatGainForm">
                    <div class="mb-4">
                        <label for="k" class="block text-sm font-medium text-gray-700">Thermal Conductivity (k)</label>
                        <input type="number" id="k"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.5" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="d" class="block text-sm font-medium text-gray-700">Thickness (d)</label>
                        <input type="number" id="d"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="0.127" step="0.001">
                    </div>
                    <div class="mb-4">
                        <label for="area" class="block text-sm font-medium text-gray-700">Area (A)</label>
                        <input type="number" id="area"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="74" step="0.1">
                    </div>
                    <div class="mb-4">
                        <label for="tempDiff" class="block text-sm font-medium text-gray-700">Temperature Difference
                            (ΔT)</label>
                        <input type="number" id="tempDiff"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="10" step="1">
                    </div>
                    <button type="button" onclick="CHGRoofs()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGOccupmants -->
            <div id="CHGOccupmants" class="bg-white p-8 rounded shadow-md w-full max-w-md">
                <h2 class="text-2xl font-bold mb-6 text-center">Heat Gain from Occupants Calculator</h2>
                <form id="heatGainForm">
                    <div class="mb-4">
                        <label for="occupants" class="block text-sm font-medium text-gray-700">Number of
                            Occupants</label>
                        <input type="number" id="occupants"
                            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            value="32" step="1">
                    </div>
                    <button type="button" onclick="CHGOccupants()"
                        class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate</button>
                </form>
                <div id="result" class="mt-6 text-center text-lg font-semibold"></div>
            </div>

            <!-- CHGEquipments -->
            <div id="CHGEquipments" class="bg-white p-8 rounded shadow-md w-full max-w-md">
                <h2 class="text-2xl font-bold mb-6 text-center">Total Heat Gain Calculator</h2><br>
                <iframe id="formula5frame" src="for5.html" frameborder="0"></iframe>
                <!-- <h2 class="text-2xl font-bold mb-6 text-center">Total Heat Gain Calculator</h2>
                <form id="heatGainForm">
                    <div class="mb-4">
                        <label for="walls" class="block text-sm font-medium text-gray-700">Heat Gain Through Walls (Qwalls)</label>
                        <input type="number" id="walls" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="6197.26" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="window" class="block text-sm font-medium text-gray-700">Heat Gain Through Window (Qwindow)</label>
                        <input type="number" id="window" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="1463.25" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="roof" class="block text-sm font-medium text-gray-700">Heat Gain Through Roof (Qroof)</label>
                        <input type="number" id="roof" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="2913.39" step="0.01">
                    </div>
                    <div class="mb-4">
                        <label for="occupants" class="block text-sm font-medium text-gray-700">Heat Gain from Occupants (Qoccupants)</label>
                        <input type="number" id="occupants" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="3200" step="1">
                    </div>
                    <div class="mb-4">
                        <label for="computers" class="block text-sm font-medium text-gray-700">Heat Gain from Computers (Qcomputers)</label>
                        <input type="number" id="computers" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="6400" step="1">
                    </div>
                    <div class="mb-4">
                        <label for="lights" class="block text-sm font-medium text-gray-700">Heat Gain from LED Tube Lights (Qlights)</label>
                        <input type="number" id="lights" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="300" step="1">
                    </div>
                    <div class="mb-4">
                        <label for="fans" class="block text-sm font-medium text-gray-700">Heat Gain from Fans (Qfans)</label>
                        <input type="number" id="fans" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" value="450" step="1">
                    </div>
                    <button type="button" onclick="CHGEquipments()" class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600">Calculate Total Heat Gain</button>
                </form>
                <div id="result" class="mt-6 text-center text-lg font-semibold"></div> -->
            </div>
        </div>
    </div>
    <a href="https://www.flaticon.com/free-icons/arrows" title="arrows icons"></a>

    <script>

        function logout() {
            // Remove the authentication token from local storage
            localStorage.removeItem('authToken');
            // Redirect to the login page
            window.location.href = 'index.html';
        }

        function open() {
            window.location.href = "for1.html"
        }
    </script>

    <script src="scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        
        
        const forms = ['CHGWalls', 'CHGWindow', 'CHGRoof', 'CHGOccupmants', 'CHGEquipments']
        function formula1() {
            for (const i of forms) {
                document.querySelector(`#${i}`).style.display = 'none';
            }
            document.querySelector(`#${forms[0]}`).style.display = 'block';

        }
        function formula2() {
            for (const i of forms) {
                document.querySelector(`#${i}`).style.display = 'none';
            }
            document.querySelector(`#${forms[1]}`).style.display = 'block';

        }
        function formula3() {
            for (const i of forms) {
                document.querySelector(`#${i}`).style.display = 'none';
            }
            document.querySelector(`#${forms[2]}`).style.display = 'block';
            
        }
        function formula4() {
            for (const i of forms) {
                document.querySelector(`#${i}`).style.display = 'none';
            }
            document.querySelector(`#${forms[3]}`).style.display = 'block';

        }
        function formula5() {
            for (const i of forms) {
                document.querySelector(`#${i}`).style.display = 'none';
            }
            document.querySelector(`#${forms[4]}`).style.display = 'block';

        }
        formula1();
    </script>
</body>

</html>