<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login Form</div>
          <div class="title signup">Signup Form</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label id="loginForm" for="login" class="slide login">Login</label>
            <label id="signupForm" for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="dashboard.html" class="login">
              <pre>
              </pre>
              <div class="field">
                <input type="text" placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>
              <div class="pass-link"><a href="#">Forgot password?</a></div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
              <div id="signupForm" class="signup-link">Create an account <a href="dashboard.html">Signup now</a></div>
            </form>
            <form action="dashboard.html" class="signup">
              <div class="field">
                <input id="name" type="text" placeholder="Name" required>
              </div>
              <div class="field">
                <input id="email" type="text" placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Confirm password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
              </div>
              <div id="loginForm" class="login-link">Already have an account? <a href="dashboard.html">Login</a></div>
            </form>
          </div>
        </div>
      </div>
      <script src="script.js"></script>
</body>
</html>