.hidden {
    display: none;
}

.transition {
    transition: all 0.5s ease-in-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-in-active {
    opacity: 1;
    transform: translateY(0);
}
